.c-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;
  }
  
  .c-tag {
    display: inline-flex;
    gap: 0.7rem;
    font-weight: 600;
    color: purple;
    margin-top: 10%;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  
  .c-title {
    font-size: clamp(2rem, 4vw, 3.5rem);
    font-weight: bold;
    text-align: center;
  }
  
  .c-description {
    font-size: 1.125rem;
    max-width: 64rem;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .c-description {
      font-size: 1.5rem;
    }
  }